<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns		= "http://www.w3.org/ns/widgets"
        xmlns:gap	= "http://phonegap.com/ns/1.0"
        id		   = "http___wifienter.com"
        version 	= "2.8.0">

   <name>Smart Hotel App</name>

<content src="index.html"/>

<description>
Powerfull Guest Tools for hospitality services.
</description>

 <author href="http://wifienter.com" email="alejandro.c@wifienter.net">
Wifientertainment SAS - By Alejandro Osorio 2015-2018
</author>

   <icon src="icon.png" />
   
<icon src="icon.png" gap:platform="ios" width="57" height="57" />
<icon src="icon-29.png" gap:platform="ios" width="29" height="29" />
<icon src="icon-40.png" gap:platform="ios" width="40" height="40" />
<icon src="icon-48.png" gap:platform="ios" width="48" height="48" />
<icon src="icon-50.png" gap:platform="ios" width="50" height="50" />
<icon src="icon-57.png" gap:platform="ios" width="57" height="57" />
<icon src="icon-58.png" gap:platform="ios" width="58" height="58" />
<icon src="icon-60.png" gap:platform="ios" width="60" height="60" />
<icon src="icon-72.png" gap:platform="ios" width="72" height="72" />
<icon src="icon-76.png" gap:platform="ios" width="76" height="76" />
<icon src="icon-80.png" gap:platform="ios" width="80" height="80" />
<icon src="icon-100.png" gap:platform="ios" width="100" height="100" />
<icon src="icon-114.png" gap:platform="ios" width="114" height="114" />
<icon src="icon-120.png" gap:platform="ios" width="120" height="120" />
<icon src="icon-144.png" gap:platform="ios" width="144" height="144" />
<icon src="icon-152.png" gap:platform="ios" width="152" height="152" />
<icon src="icon-180.png" gap:platform="ios" width="180" height="180" />

  <preference name="android-minSdkVersion" value="19" />

<preference name='phonegap-version' value='cli-6.5.0' />
   <preference name="target-device" value="universal" />

<plugin name="phonegap-plugin-barcodescanner" version="3.0.0">
  <param name="CAMERA_USAGE_DESCRIPTION" value="Escanea cod QR en tu reserva o en la hab." />
</plugin>

 <feature name="http://api.phonegap.com/1.0/network"/>
 <feature name="http://api.phonegap.com/1.0/geolocation"/>

<plugin name="cordova-plugin-whitelist" source="npm" />
<plugin name="cordova-plugin-crosswalk-webview-v2" source="npm" />

<plugin name="cordova-plugin-camera">
   <param name="CAMERA_USAGE_DESCRIPTION" value="Para el lector de codigo de barras." />
   <param name="PHOTOLIBRARY_USAGE_DESCRIPTION" value="Para el lector de codigo de barras." />
</plugin>

<gap:config-file platform="ios" parent="NSCameraUsageDescription" overwrite="true">
   <string>Para el lector de codigo QR.</string>
</gap:config-file>

<plugin name="com.unarin.cordova.beacon"></plugin>

<gap:splash src="splash/splash-320x480.png"   gap:platform="ios" width="320"  height="480"  /><!-- Regular iPhone4 -->
<gap:splash src="splash/splash-640x960.png"   gap:platform="ios" width="640"  height="960"  /><!-- Retina iPhone4 -->
<gap:splash src="splash/splash-640x1136.png"  gap:platform="ios" width="640"  height="1136" /><!-- iPhone5 -->
<gap:splash src="splash/splash-768x1004.png"  gap:platform="ios" width="768"  height="1004" /><!-- iPad Portrait -->
<gap:splash src="splash/splash-1024x748.png"  gap:platform="ios" width="1024" height="748"  /><!-- iPad Landscape -->
<gap:splash src="splash/splash-1536x2008.png" gap:platform="ios" width="1536" height="2008" /><!-- Retina iPad Portrait - Requires PhoneGap 2.5.0+ -->
<gap:splash src="splash/splash-2048x1496.png" gap:platform="ios" width="2048" height="1496" /><!-- Retina iPad Landscape - Requires PhoneGap 2.5.0+ -->
<gap:splash src="splash/splash-750x1334.png"  gap:platform="ios" width="750" height="1334"  /><!-- iPhone6 Portrait -->
<gap:splash src="splash/splash-1242x2208.png"  gap:platform="ios" width="1242" height="2208"  /><!-- iPhone6+ Portrait -->
<gap:splash src="splash/splash-2208x1242.png"  gap:platform="ios" width="2208" height="1242"  /><!-- iPhone6+ Landscape -->

<gap:splash src="splash/splash-320x426.png" gap:platform="android" gap:density="ldpi"  width="320" height="426" />
<gap:splash src="splash/splash-320x470.png" gap:platform="android" gap:density="mdpi"  width="320" height="470" />
<gap:splash src="splash.png" gap:platform="android" gap:density="hdpi"  width="480" height="640" />
<gap:splash src="splash.png" gap:platform="android" gap:density="xhdpi"/>
<gap:splash src="splash.png" gap:platform="android" gap:density="xxhdpi"/>
<gap:splash src="splash.png" gap:platform="android" gap:density="xxxhdpi"/>


<allow-navigation href="*" />

<allow-intent href="*" />

<!-- Allow links to web pages to open in a browser -->
<allow-intent href="http://*/*" />
<allow-intent href="https://*/*" />

<!-- Allow SMS links to open messaging app -->
<allow-intent href="sms:*" />
 
<!-- Allow tel: links to open the dialer -->
<allow-intent href="tel:*" />
 
<!-- Allow geo: links to open maps -->
<allow-intent href="geo:*" />
 
<!-- Enable requests to content: URLs -->
<access origin="content:///*" />
 
<access origin="http://*/*" />
    <access origin="https://*/*" />
    <access launch-external="yes" origin="tel:*" />
    <access launch-external="yes" origin="geo:*" />
    <access launch-external="yes" origin="mailto:*" />
    <access launch-external="yes" origin="sms:*" />
    <access launch-external="yes" origin="market:*" />
    
    <!-- Don't block any requests -->
<access origin="*" />

</widget>